<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.youcare">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_yourchoice_launcher"
        android:label="Your Choice"
        tools:ignore="LockedOrientationActivity"

        android:roundIcon="@mipmap/ic_yourchoice_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".appbody.preference.ThirdPreferencesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".appbody.preference.SecondPreferencesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".appbody.preference.FirstPreferenceFragment" />
        <activity android:name=".appbody.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".appintro.ShopFragment"
            android:label="Shopping basket"/>
        <activity android:name=".appintro.DealFragment"
            android:label="Loyality program"/>
        <activity android:name=".appintro.SearchFragment"
            android:label="Product selection"/>
        <activity android:name=".appintro.PreferenceFragment"
            android:label="Preference"/>
        <activity android:name=".appintro.MainActivity"
            android:screenOrientation="portrait"/>
<!--        <activity android:name=".UserLocation" />-->
        <activity android:name=".DisplayProductsActivity"
            android:screenOrientation="portrait"/> <!-- <activity android:name=".list_view_items" /> -->
        <activity android:name=".appbody.search.Searchproducts" />
<!--        <activity-->
<!--            android:name=".UserValues"-->
<!--            android:label="User values" />-->
<!--        <activity-->
<!--            android:name=".EatingPreferences"-->
<!--            android:label="Preferences" />-->
        <activity
            android:name=".authentication.UserRegistration"
            android:label="New registration"
            android:screenOrientation="portrait"/>
<!--        <activity-->
<!--            android:name=".AppInfo"-->
<!--            android:label="App Info" />-->
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.LoginActivity"
            android:label="User login"
            android:screenOrientation="portrait"/>
    </application>

</manifest>