<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youcare">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yourchoice"
        android:label="Your Choice"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ShoppingSearchBar"
            android:label="Shop" />
        <activity
            android:name=".SeekBar"
            android:label="Filter" />
        <activity
            android:name=".eatinghabits"
            android:label="Filter" />
        <activity
            android:name=".NewRegistrationTwo"
            android:label="Registration" />
        <activity
            android:name=".AppInfoWhileStartup"
            android:label="Info" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreenActivityTwo"
            android:label="Login" />
<!--        <activity android:name=".ActivityAfterAuthentication" />-->
    </application>

</manifest>